
    <div class="forgot-panel">
        <div class="forgot-body">
         
        </div>
        <div class="forgot-sidebar">
          <div class="forgot-sidebar-body">
            <a href="#" class="sidebar-logo mg-b-40"><span>Admin Panel</span></a>
            <h4 class="forgot-title">Reset Your Password</h4>
            <h5 class="forgot-subtitle">Enter your email address and we will send you a link to reset your password.</h5>
            <form name="reset" [formGroup]="forgotPasswordForm">
            <div class="forgot-form mg-t-20">
              <div class="form-group">
                <label>Email address</label>
                <input type="text" class="form-control" formControlName="email" required placeholder="Enter your username/email address" required>
                <app-control-messages [control]="forgotPasswordForm.controls.email"></app-control-messages>
              </div>
            </div>
           
            <div class="form-group">
              <button class="btn btn-block btn-dark btn-uppercase" [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword()">Send Email</button>
            </div>
            <div class="form-group">
              <a [routerLink]="['/login']" class="btn btn-block btn-white btn-uppercase">Back to Login</a>
            </div>
          </form>
          </div>
        </div><!-- forgot-sidebar -->
      </div><!-- forgot-panel -->
