<app-sidebar></app-sidebar>
<div class="content content-page">
<app-header></app-header>


  
  <div class="content-body content-body-mail">
    <div class="mail-panel">
   
      <div id="mailBodyList" >
        <div class="mail-body-header">
          <h5>Inbox <span class="d-none d-lg-inline">6 unread messages</span></h5>
          <div>
            <span class="text-muted tx-13 mg-r-10 d-none d-lg-inline">1-30 of 157</span>
            <button class="btn btn-icon btn-xs btn-white" disabled><i data-feather="chevron-left"></i></button>
            <button class="btn btn-icon btn-xs btn-white"><i data-feather="chevron-right"></i></button>
            <button class="btn btn-icon btn-xs d-none d-lg-inline"><i data-feather="settings"></i></button>
          </div>
        </div><!-- mail-body-header -->
        <div class="mail-body-content">
          <div class="mail-navbar">
            <div class="d-flex align-items-center">
              <div class="custom-control custom-checkbox pd-l-15 d-none d-lg-block">
                <input type="checkbox" class="custom-control-input" id="checkAll">
                <label class="custom-control-label" for="checkAll"></label>
              </div>
              <div class="tx-14 tx-color-04 mg-lg-l-15">
                <span>Sort by:</span>
                <a href="" class="link-01">Newest</a>
              </div>
            </div>
            <div class="d-none d-lg-flex">
              <a href=""><i data-feather="rotate-cw"></i></a>
              <a href=""><i data-feather="alert-circle"></i></a>
              <a href=""><i data-feather="printer"></i></a>
              <a href=""><i data-feather="trash"></i></a>
              <a href=""><i data-feather="folder"></i></a>
              <a href=""><i data-feather="star"></i></a>
            </div>
          </div><!-- mail-navbar -->
          <ul class="mail-list">
            <li class="mail-item unread">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail1">
                <label class="custom-control-label" for="mail1"></label>
              </div>
              <div class="avatar"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
              <div class="mail-item-body">
                <div>
                  <span>Molly Manson</span>
                  <span>11:15am</span>
                </div>
                <h6>Simple And Best Responsive Web Design Using CSS</h6>
                <p>Responsive Web Design is a great practise to build a website that looks and works similar in almost...</p>
              </div>
            </li>
            <li class="mail-item unread">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail2">
                <label class="custom-control-label" for="mail2"></label>
              </div>
              <div class="avatar"><span class="avatar-initial rounded-circle bg-primary">d</span></div>
              <div class="mail-item-body">
                <div>
                  <span>Diana Zubiri</span>
                  <span>10:30am</span>
                </div>
                <h6>HTML Interview Questions and Answers</h6>
                <p>Hi, There are some common questions asked by every interviewer, so here we have collected few questions...</p>
              </div>
            </li>
            <li class="mail-item">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail3">
                <label class="custom-control-label" for="mail3"></label>
              </div>
              <div class="avatar"><span class="avatar-initial rounded-circle bg-teal">a</span></div>
              <div class="mail-item-body">
                <div>
                  <span>Alex Blake</span>
                  <span>08:40am</span>
                </div>
                <h6>Upload an image and make an image gallery</h6>
                <p>Here is the overview what we are going to do. Hey friends today we will learn how to upload an image in...</p>
              </div>
            </li>
            <li class="mail-item">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail4">
                <label class="custom-control-label" for="mail4"></label>
              </div>
              <div class="avatar"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
              <div class="mail-item-body">
                <div>
                  <span>Socrates Itumay</span>
                  <span>Yesterday</span>
                </div>
                <h6>Scaling a webdesign support team</h6>
                <p>The evolution in educative methodologies has transformed the entire concept of training...</p>
              </div>
            </li>
            <li class="mail-item">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail5">
                <label class="custom-control-label" for="mail5"></label>
              </div>
              <div class="avatar"><span class="avatar-initial rounded-circle bg-pink">j</span></div>
              <div class="mail-item-body">
                <div>
                  <span>Jill Kassidy</span>
                  <span>Yesterday</span>
                </div>
                <h6>Simple responsive menu using css3</h6>
                <p>Hello readers! This blog is about how to make a simple navigation menu. First of all you need an unorder...</p>
              </div>
            </li>
            <li class="mail-item unread">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail6">
                <label class="custom-control-label" for="mail6"></label>
              </div>
              <div class="avatar"><span class="avatar-initial rounded-circle bg-ui-03 tx-color-02">a</span></div>
              <div class="mail-item-body">
                <div>
                  <span>Alexis Scott</span>
                  <span>Jul 10</span>
                </div>
                <h6>Web security testing: how to see the hidden form fields</h6>
                <p>In this message you will learn how to see the hidden form fields in web page with help of WebScarab tool....</p>
              </div>
            </li>
            <li class="mail-item">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail7">
                <label class="custom-control-label" for="mail7"></label>
              </div>
              <div class="avatar"><span class="avatar-initial rounded-circle bg-success">r</span></div>
              <div class="mail-item-body">
                <div>
                  <span>Reynante Labares</span>
                  <span>Jul 10</span>
                </div>
                <h6>HTML interview questions and answers</h6>
                <p>In this message you will learn how to see the hidden form fields in web page with help of WebScarab tool....</p>
              </div>
            </li>
            <li class="mail-item">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail8">
                <label class="custom-control-label" for="mail8"></label>
              </div>
              <div class="avatar"><span class="avatar-initial rounded-circle bg-purple">a</span></div>
              <div class="mail-item-body">
                <div>
                  <span>Alexa Grace</span>
                  <span>Jul 09</span>
                </div>
                <h6>Upload an image and make an image gallery</h6>
                <p>Here is the overview what we are going to do. Hey friends today we will learn how to upload an image in...</p>
              </div>
            </li>
            <li class="mail-item unread">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail9">
                <label class="custom-control-label" for="mail9"></label>
              </div>
              <div class="avatar"><span class="avatar-initial rounded-circle bg-pink">j</span></div>
              <div class="mail-item-body">
                <div>
                  <span>Jill Kassidy</span>
                  <span>Jul 08</span>
                </div>
                <h6>Simple responsive menu using css3</h6>
                <p>Hello readers! This blog is about how to make a simple navigation menu. First of all you need an unorder...</p>
              </div>
            </li>
            <li class="mail-item unread">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail10">
                <label class="custom-control-label" for="mail10"></label>
              </div>
              <div class="avatar"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
              <div class="mail-item-body">
                <div>
                  <span>Lea Grace</span>
                  <span>Jul 05</span>
                </div>
                <h6>Simple and best responsive web design using css</h6>
                <p>Responsive Web Design is a great practise to build a website that looks and works similar in almost...</p>
              </div>
            </li>
            <li class="mail-item">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail11">
                <label class="custom-control-label" for="mail11"></label>
              </div>
              <div class="avatar"><span class="avatar-initial rounded-circle bg-indigo">j</span></div>
              <div class="mail-item-body">
                <div>
                  <span>Julia Montes</span>
                  <span>Jul 02</span>
                </div>
                <h6>Simple responsive menu using css3</h6>
                <p>Hello readers! This blog is about how to make a simple navigation menu. First of all you need an unorder...</p>
              </div>
            </li>
            <li class="mail-item unread">
              <div class="custom-control custom-checkbox pd-l-15">
                <input type="checkbox" class="custom-control-input" id="mail12">
                <label class="custom-control-label" for="mail12"></label>
              </div>
              <div class="avatar"><span class="avatar-initial rounded-circle bg-teal">h</span></div>
              <div class="mail-item-body">
                <div>
                  <span>Helder Owen</span>
                  <span>Jul 02</span>
                </div>
                <h6>Upload an image and make an image gallery</h6>
                <p>Hello readers! This blog is about how to make a simple navigation menu. First of all you need an unorder...</p>
              </div>
            </li>
          </ul>
        </div><!-- mail-body-content -->
      </div>

      <div id="mailBodyItem" class="d-none">
        <div class="mail-body-header">
          <a href="" id="backToList" class="btn pd-0"><i data-feather="arrow-left"></i> Back to List</a>
          <div>
            <span class="text-muted tx-13 mg-r-10">5 of 157</span>
            <button class="btn btn-icon btn-xs btn-white" disabled><i data-feather="chevron-left"></i></button>
            <button class="btn btn-icon btn-xs btn-white"><i data-feather="chevron-right"></i></button>
            <button class="btn btn-icon btn-xs d-none d-lg-inline"><i data-feather="settings"></i></button>
          </div>
        </div><!-- mail-body-header -->
        <div class="mail-body-content">
          <div class="mail-navbar">
            <div class="d-flex align-items-center">
              <h6 class="mail-from">ThemePixels, Inc. <span class="d-none d-sm-inline">&lt;noreply@themepixels.me&gt;</span></h6>
            </div>
            <div>
              <a href="" class="d-none d-lg-inline"><i data-feather="star"></i></a>
              <a href="" class="d-none d-lg-inline"><i data-feather="arrow-up-right"></i></a>
              <a href="" class="d-none d-lg-inline"><i data-feather="printer"></i></a>
              <a href="" class="d-none d-lg-inline"><i data-feather="trash"></i></a>
              <a href="" class="d-none d-lg-inline"><i data-feather="folder"></i></a>
              <a href=""><i data-feather="more-vertical"></i></a>
            </div>
          </div><!-- mail-navbar -->
          <div class="mail-msg">
            <div class="d-xl-flex justify-content-between align-items-center">
              <h5 class="mg-b-0">Simple and best responsive web design using css</h5>
              <span class="tx-13 tx-color-04">Sat, Jul 14, 1:36 PM (2 hours ago)</span>
            </div>

            <hr class="op-0">

            <p>
              <strong>Ms. Katherine Lumaad</strong><br>
              ThemePixels, Inc.<br>
              San Francisco, CA, United States
            </p>

            <p>Greetings!</p>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>

            <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.</p>

            <p>Sincerely yours,<br>
            <strong>Envato Design Team</strong></p>

            <hr class="op-0">

            <div id="editor-container" class="tx-13 tx-lg-14 ht-100">
              Type here to <u>Reply</u> or <u>Forward</u>
            </div>
            <div class="d-flex align-items-center justify-content-between mg-t-10 mg-b-20">
              <div id="toolbar-container" class="bd-0-f pd-0-f">
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                </span>
              </div>
              <button class="btn btn-brand-01">Reply</button>
            </div>
          </div>
        </div><!-- mail-body-content -->
      </div><!-- mail-body -->
    </div><!-- mail-panel -->
  </div>


<div id="mailCompose" class="mail-compose">
  <div class="mail-compose-dialog">
    <div class="mail-compose-header">
      <h6 class="mail-compose-title tx-white">New Message</h6>
      <nav class="nav nav-icon">
        <a id="mailComposeMinimize" href="" class="nav-link nav-link-minimize d-none d-lg-block">
          <i data-feather="minus"></i>
          <i data-feather="square"></i>
        </a>
        <a id="mailComposeShrink" href="" class="nav-link nav-link-shrink d-none d-lg-block">
          <i data-feather="minimize-2"></i>
          <i data-feather="maximize-2"></i>
        </a>
        <a id="mailComposeClose" href="" class="nav-link nav-link-close"><i data-feather="x"></i></a>
      </nav>
    </div>
    <div class="mail-compose-body">
      <div class="form-row align-items-center">
        <div class="col-sm">Recipient:</div>
        <div class="col-sm-10">
          <input type="text" class="form-control bd-0 pd-x-0" placeholder="Enter recipient's email address">
        </div>
      </div>
      <hr class="mg-y-10">
      <div class="form-row align-items-center">
        <div class="col-sm">Subject:</div>
        <div class="col-sm-10">
          <input type="text" class="form-control bd-0 pd-x-0" placeholder="Enter subject">
        </div>
      </div>
      <div id="editor-container2" class="tx-14 ht-150 mg-t-15"></div>
      <div class="d-sm-flex align-items-center justify-content-between mg-t-25">
        <div id="toolbar-container2" class="bd-0-f pd-0-f">
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
          </span>
        </div>
        <div class="tx-14 mg-t-15 mg-sm-t-0">
          <button class="btn btn-white mg-r-5">Save as Draft</button>
          <button class="btn btn-brand-01">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

