
    <div class="forgot-panel">
        <div class="forgot-body">
         
        </div>
        <div class="forgot-sidebar">
          <div class="forgot-sidebar-body">
           
            <a href="#" class="sidebar-logo mg-b-40"><span>Admin Panel</span></a>
            <h4 class="forgot-title">Reset Your Password</h4>
            <h5 class="forgot-subtitle">Enter your your password.</h5>
            <form name="reset" [formGroup]="resetForm">
            <div class="forgot-form mg-t-20">
              <div class="form-group">
                <label>Enter Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter your new password" required>
                <app-control-messages [control]="resetForm.controls.password"></app-control-messages>
              </div>
              <div class="form-group">
                <label>Re Enter Password</label>
                <input type="password" class="form-control" formControlName="confirm_password" placeholder="Re enter the password" required>
                <app-control-messages [control]="resetForm.controls.confirm_password"></app-control-messages>
              </div>
            </div>
           
            <div class="form-group">
              <button class="btn btn-block btn-brand-01 btn-uppercase" (click)="doReset()">Submit</button>
            </div>
            <div class="form-group">
              <a href="/login" class="btn btn-block btn-white btn-uppercase">Back to Login</a>
            </div>
          </form>
          </div>
        </div><!-- forgot-sidebar -->
      </div><!-- forgot-panel -->

