<div class="signin-panel">


          <div class="signin-sidebar">
            <div class="signin-sidebar-body">
              <form [formGroup]="loginForm" name="form">
              <div class="sidebar-logo mg-b-40"><span>Admin Panel</span></div>
              <h4 class="signin-title">Welcome !</h4>
              <h5 class="signin-subtitle">Please signin to continue.</h5>
              <div class="signin-form">
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" class="form-control" name="email" formControlName="email" placeholder="Enter your email address" value="admin@yourdomain.com" required/>
                  <app-control-messages [control]="loginForm.controls.email"></app-control-messages>
                </div>

                <div class="form-group">
                  <label class="d-flex justify-content-between">
                    <span>Password</span>
                    <a [routerLink]="['/forgotPassword']"  class="tx-13" style="color: #e21414;">Forgot password?</a>
                  </label>
                  <input type="password" class="form-control" placeholder="Enter your password" value="mypassword" formControlName="password" data-msg-required="please enter the password" required/>
                  <app-control-messages [control]="loginForm.controls.password"></app-control-messages>
                </div>
                

                <div class="form-group d-flex mg-b-0">
                  <button class="btn btn-dark btn-uppercase flex-fill"  [disabled]="loginForm.invalid" (click)="doLogin()">Sign In</button>

                </div>
               

              </div>
            </form>
            </div>
          </div>
        </div><!-- signin-panel -->
